.Dictionary section {
  background-color: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 6%);
  margin: 30px 150px;
}

.Dictionary input {
  width: 100%;
  padding: 6px 10px;
  border-radius: 6px;
  color: #333;
  border: 1px solid #ddd;
}

@media (max-width: 700px) {
  .Dictionary section {
    margin: 30px 60px;
  }
}
